:root {
  --color-poor: #e53935;
  --color-mixed: #ffc107;
  --color-positive: #43a047;
}

.app-header {
  align-items: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

.main-content {
  margin: 1.2rem;
}

.reviews-summary-container {
  border-bottom: 1px solid #cfd8dc;
  border-top: 1px solid #cfd8dc;
  display: grid;
  grid-gap: 3.2rem;
  grid-template-columns: 1fr 1fr;
  padding: 2.4rem 0;
}

.reviews-summary {
  align-items: flex-start;
  display: flex;
  margin-bottom: 1.6rem;
}

.reviews-summary > *:first-of-type {
  margin-right: 2.4rem;
}

.review-type {
  margin: 0.4rem 0;
}

.review-type:first-of-type {
  margin-top: 0;
}

.review-type:hover {
  cursor: pointer;
  text-decoration: underline;
}

.remove-filter-button {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #333;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 1.2rem 0;
  opacity: 0;
  padding: 0.4rem 1.2rem;
  position: relative;
  transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 300ms;
}

.remove-filter-button.active {
  opacity: 1;
}

.remove-filter-button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.remove-filter-button > .x-icon {
  background: #333;
  bottom: 0;
  color: #fff;
  font-size: 1.2rem;
  left: 0;
  padding: 4px 10px;
  position: absolute;
  text-align: center;
  top: 0;
  vertical-align: middle;
}

.remove-filter-button > .remove-filter-button-text {
  padding-left: 2rem;
}

.profile {
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: 1fr 3fr;
}

.profile-title {
  margin-top: 0;
}

.profile-picture {
  max-height: 200px;
}

.reviews-grid {
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: 1fr 1fr;
  margin: 3.6rem 0 0 0;
}

.review {
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1.2rem;
}

.review-heading {
  align-items: center;
  display: flex;
}

.review-metadata {
  margin-left: 2rem;
  text-align: left;
}

.review-text {
  font-size: 1.2rem;
  font-style: italic;
}

.review-author {
  font-weight: bold;
}

.review-rating {
  align-items: center;
  border-radius: 3px;
  color: #fff;
  display: flex;
  font-size: 1.6rem;
  font-weight: bold;
  height: 2rem;
  justify-content: center;
  padding: 0.8rem;
  width: 2.2rem;
}

.average-rating {
  font-size: 2.4rem;
  padding: 1.8rem;
}

.background-poor {
  background: var(--color-poor);
}

.background-mixed {
  background: var(--color-mixed);
}

.background-positive {
  background: var(--color-positive);
}

.review-poor {
  border-color: #ffcdd2;
  box-shadow: 0 3px 6px rgba(229, 57, 53, 0.16),
    0 3px 6px rgba(229, 57, 53, 0.23);
}

.review-mixed {
  border-color: #ffecb3;
  box-shadow: 0 3px 6px rgba(255, 193, 7, 0.16),
    0 3px 6px rgba(255, 193, 7, 0.23);
}

.review-positive {
  border-color: #c8e6c9;
  box-shadow: 0 3px 6px rgba(67, 160, 72, 0.16),
    0 3px 6px rgba(67, 160, 72, 0.23);
}

.text-bold {
  font-weight: bold;
}

.chart {
  height: 3px;
  margin: 0.4rem 0;
  position: relative;
  width: 200px;
}

.chart-background {
  background: #eeeeee;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.chart-progress {
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

.sort-container {
  align-items: center;
  display: flex;
  margin: 1.2rem 0;
}

.sort-header {
  margin: 0 0.8rem 0 0;
}

.sort-option {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #757575;
  cursor: pointer;
  margin: 0 0.8rem;
}

.sort-option:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .reviews-grid,
  .reviews-summary-container {
    grid-template-columns: 1fr;
  }

  .profile {
    grid-template-columns: 1fr 1fr;
  }
}
